html {
  height: 100vh;
}

body {
  height: 100%;
}

#root {
  height: 100%;
  /* should be able to scroll vertically and not horizontally */
  overflow-x: hidden;
}

.App {
  height: 100%;
}

.login {
  background-color: #f2f2f2;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.application-logo {
  height: 65%;
}

.auth-form-card {
  border: none;
  border-radius: 5%;
  box-shadow: 1px 1px 5px grey;
}

.bottom-navbar {
  position: absolute;
  width: 100%;
  bottom: 0;
}
